
<nav class="navbar navbar-reverse">
  <ul class="nav navbar-nav">
    <li><a class="anchor" [routerLink]="['/']">Race Schedule</a></li>
    <li><a class="anchor" [routerLink]="['/race-details',year,round]" routerLinkActive="active">Race Data</a></li>
    <li><a class="anchor" [routerLink]="['/race-details',year,round,'pit-stops']" routerLinkActive="active">Pit Stop</a></li>
    <li><a class="anchor" [routerLink]="['/race-details',year,round,'lap-times']" routerLinkActive="active">Lap Times</a></li>
    <li><a class="anchor" [routerLink]="['/race-details',year,round,'session-results']" routerLinkActive="active">Session Results</a></li>
  </ul>
</nav>

<div>
  <!-- Main content area -->
  <router-outlet></router-outlet>
</div>

<div>
  <!-- Auxiliary content area -->
  <router-outlet name="details"></router-outlet>
</div>