<div *ngIf="lapTimesData else noLapData">
    <nav class="navbar navbar-reverse myNav">
        <ul class="nav navbar-nav">
            <li class="active"><a [routerLink]="['/']">Back To Race Schedule</a></li>  
          <li class="active"><a [routerLink]="['/race-details/',year,round]">Back To Race Details</a></li>
        </ul>
      </nav>
    <h2>Lap Time Graph</h2> 
    <app-race-visualization [displayData]="lapTimesData" [xAxisLabelText]="'Position'" [yAxisLabelText]="'Lap Time (milliseconds)'"></app-race-visualization>
</div>
<ng-template #noLapData>
    <div class="alert alert-info mt-3">No Lap Time Data</div>
  </ng-template>



